<main>
    <article class="container-welcome">
        <h2>Aproveite o melhor deste framework!</h2>
    </article>
    <article class="container-command">
        <section class="command-database">
            <table>
                <thead>
                    <tr>
                        <th>Base</th>
                        <th>Comando</th>
                        <th>Argumento</th>
                        <th>Função</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>php cli</td>
                        <td>--db or -d</td>
                        <td>set</td>
                        <td>
                            <strong>Carrega</strong> todas as tabelas na pasta <code>database/schema</code> no banco de dados.
                        </td>
                    </tr>
                    <tr>
                        <td>php cli</td>
                        <td>--db or -d</td>
                        <td>drop</td>
                        <td>
                            <strong>Dropa</strong> todas as tabelas na pasta <code>database/schema</code> no banco de dados.
                        </td>
                    </tr>
                    <tr>
                        <td>php cli</td>
                        <td>--db or -d</td>
                        <td>reset</td>
                        <td>
                            <strong>Recarrega</strong> todas as tabelas na pasta <code>database/schema</code> no banco de dados.
                        </td>
                    </tr>
                    <tr>
                        <td>php cli</td>
                        <td>--db or -d</td>
                        <td>load</td>
                        <td>
                            <strong>Insere</strong> todas as informações na pasta <code>database/information</code> para o banco de dados.
                        </td>
                    </tr>
                    <tr>
                        <td>php cli</td>
                        <td>--db or -d</td>
                        <td>fresh</td>
                        <td>
                            <strong>Remove</strong> todas as informações na pasta <code>database/information</code> no banco de dados.
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"><strong>Comandos do banco de dados</strong></td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </article>
</main>